<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	
	<servlet>
		<servlet-name>cart</servlet-name>
		<servlet-class>cart</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>cart</servlet-name>
		<url-pattern>/cart</url-pattern>

	</servlet-mapping>
	<servlet>
		<servlet-name>checkout</servlet-name>
		<servlet-class>checkout</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>checkout</servlet-name>
		<url-pattern>/checkout</url-pattern>

	</servlet-mapping>
	


</web-app>